# ms-jarvis-svc/docker-compose.yml
services:
  ms-jarvis-svc:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ms-jarvis-svc
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - shield-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jarvis.rule=Host(`api-shield.botbrigade.tech`) && PathPrefix(`/jarvis`)"
      - "traefik.http.services.jarvis.loadbalancer.server.port=8002"
      - "traefik.http.routers.jarvis.middlewares=dev-secure-headers@file,validate-permission@file"
      - "traefik.http.routers.jarvis.tls.certresolver=cloudflare"

networks:
  shield-network:
    external: true